<div class="popup-window">
  <div class="popup-header">
    <h1>{{data.popupHeader}}</h1>
  </div>
  <div class="popup-msg warning">
    <div class="row">
      <div class="col-xs-12">
          <div class="card">
              <p>Hello Raj, This is a Sucess message.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="popup-footer">
    <div class="btns">
    <button type="button" class="btn btn-primary" (click)= "onCloseConfirm()">OK</button>
    <button type="button" class="btn btn-default" (click) = "onCloseCancel()">CANCLE</button>
  </div>
  </div>
</div>


