.sidebar-wrapper .logo .simple-text, .off-canvas-sidebar .logo .simple-text {
    text-transform: uppercase;
    padding: 4px 0px;
    font-weight: 800 !important;
    display: block;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.5px;
}